.timer {
    width: 200px;
    margin: 15% auto;
    padding: 20px 40px;
    background-color: rgb(207, 254, 220);
    border-radius: 5%;
    border: solid 2px;
    border-color:rgb(5, 5, 139);
    font-size: 1.5rem;
    color: rgb(5, 5, 139);
    font-weight: 600;
}

button {
    padding: 10px 15px;
    margin: 10px;
    border: solid 2px;
    border-color:rgb(5, 5, 139);
    border-radius: 20%;
    cursor: pointer;
    font-size: medium;
    color: rgb(5, 5, 139);
    font-weight: 400;
}

button:hover {
    background-color: rgb(238, 227, 129);
}